<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571910263029-9b6lpeci7sgsmqrq8t6tpkpjolj50294.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571910263029-9b6lpeci7sgsmqrq8t6tpkpjolj50294</string>
	<key>API_KEY</key>
	<string>AIzaSyDMzBe1XScL0HcFp-GPySmke_47RhIABiw</string>
	<key>GCM_SENDER_ID</key>
	<string>571910263029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wecode2</string>
	<key>PROJECT_ID</key>
	<string>personal-finance-manager-21433</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-finance-manager-21433.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571910263029:ios:b9ef92ab9d321e95f6f5bc</string>
</dict>
</plist>